
      body {
        font-family: Arial, sans-serif;
        background-color: rgb(98, 122, 145);
        color: #333;
        font-style: italic;
        text-align: center;
        text-decoration: underline;
      }
      div {
        text-align: center;
        margin-top: 50px;
        color: blue;
      }
      h1 {
        text-align: center;
        margin-top: 50px;
        font-size: 2.5em;
        color: darkblue;
        align: center;
      }
      .font_1 {
        font-family: Arial, sans-serif;
        color: Yellow;
        background-color: black;
        font-size: large;
      }
      .font_2 {
        font-family: Verdana, sans-serif;
        color: blue;
        background-color: darkblue;
        font-size: medium;
      }
 